<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Voice Notes</title>
    <link rel="stylesheet" href="/static/Home/css/404.css">
</head>
<body>
    <main>
        <setction id="Container">
            <div class="oops">
                <h2>Oops!</h2>
            </div>
            <div class="Wrapper404">
                <h3>404 - Page Not Found</h3>
            </div>
            <div class="button">
                <button><a href="/" >Go To Home</a></button>
            </div>
        </setction>
    </main>
</body>
</html>