{% extends "Home/base.html" %}
{% block linkfiles %}
    <link rel="stylesheet" href="/static/Home/css/index.css">
    <script defer src="/static/Home/js/index.js"></script>
{% endblock linkfiles %}
{% block mainsection %}
        <section class="NoteSection" id="NoteSection">
            <div class="NoteContainer">
                <div class="NoteWrapper">
                    <div class="languageOption">
                        <select id="RecordingLanguage">
                            <option value="en-US" selected>English</option>
                            <option value="np-NP">Nepali</option>
                        </select>
                    </div>
                    <div class="NotesOptions">
                        <div class="VoiceNote">
                            <button id="VoiceNoteBtn">Start</button>
                            <div class="RecordingStatus">
                                <p id="RecordingStatus"></p>
                            </div>
                        </div>
                    </div>
                    <div class="NotesWriting">
                        <form method="post">
                            <div class="status">
                                {% if success %}
                                    <p class='success'>{{success}}</p>
                                {% elif error %}
                                    <p class='error'>{{error}}</p>
                                {% endif %}
                            </div>
                            {%csrf_token %}
                        <div class="NotesWritingContainer">
                            <div class="NoteTitle">

                                <input type="text" name="NoteTitle" id="NoteTitle" placeholder="Title" value='{{notetitle}}'>
                            </div>
                            <div class="NoteBody">
                                <textarea name="NoteContent" id="NoteContent" cols="30" rows="10" placeholder="Write your note here">{{noteconent}}</textarea>
                            </div>                       
                        </div>
                        <div class="NotesWritingOptions">
                            {% if user.is_authenticated %}
                            <div class="SaveNote">
                                <button id="SaveNoteBtn" type="submit">Save Note</button>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                    </div>

                </div>
            </div>

        </section>
        {% endblock mainsection %}