<!-- Developing the Voice Note App that will help you to take notes by voice. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes</title>
    <link rel="stylesheet" href="/static/Home/css/index.css">
    <script defer src="/static/Home/js/index.js"></script>
</head>
<body>
    <!-- <h1>Hello World</h1> -->
    <header>
        <nav>
            <div class="logo"> <h1>Voice Notes</h1></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="privacypolicy">Privacy Policy</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <h1>Home Section Start Here</h1> -->
        <section class="NoteSection" id="NoteSection">
            <div class="NoteContainer">
                <div class="NoteWrapper">
                    <div class="NotesOptions">
                        <div class="VoiceNote">
                            <button id="VoiceNoteBtn">Voice Note</button>
                        </div>
                    </div>
                    <div class="NotesWriting">
                        <form method="post">
                        <div class="NotesWritingContainer">
                            <div class="NoteTitle">
                                <input type="text" name="NoteTitle" id="NoteTitle" placeholder="Title">
                            </div>
                            <div class="NoteBody">
                                <textarea name="NoteContent" id="NoteContent" cols="30" rows="10" placeholder="Write your note here">{{data}}</textarea>
                            </div>                       
                        </div>
                        <div class="NotesWritingOptions">

                            <div class="SaveNote">
                                <button id="SaveNoteBtn" type="submit">Save Note</button>
                            </div>
                            <div class="DeleteNote">
                                <button id="DeleteNoteBtn">Delete Note</button>
                            </div> 
                        </div>
                    </form>
                    </div>

                </div>
            </div>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Voice Notes</p>
    </footer>
</body>
</html>