<!-- Developing the Voice Note App that will help you to take notes by voice. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes</title>
    <link rel="stylesheet" href="/static/Home/css/mynotes.css">
    <script defer src="/static/Home/js/mynotes.js"></script>
</head>
<body>
    <!-- <h1>Hello World</h1> -->
    <header>
        <nav>
            <div class="logo"> <h1>Voice Notes</h1></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mynotes">MyNotes</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="privacypolicy">Privacy Policy</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="MyNotesSection" id="MyNotesSection">
            <div class="NotesContainer">
                <h3>Saved Notes List</h3>
                <div class="NotesWrapper">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if error %}
                            <tr colspan="3">{{error}}</tr>
                            {% endif %}
                            {% if notes %}
                            {% for note in notes %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{note.title}}</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>
                            {% endfor %}
                            
                            {% endif %}

                            {% comment %} <tr>
                                <td>1</td>
                                <td>My Temporarasdfadsfasdy Notes Taken For the Test</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>My Second Notes</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Third Notes from teh Database</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>                            
                            <tr>
                                <td>4</td>
                                <td>My Temporary Notes Taken For the Test</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>My Second Notes</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Third Notes from teh Database</td>
                                <td><a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                            </tr> {% endcomment %}
                        </tbody>

                    </table>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Voice Notes</p>
    </footer>
</body>
</html>