<!-- Developing the Voice Note App that will help you to take notes by voice. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes | Privacy Policy</title>
    <link rel="stylesheet" href="/static/Home/css/privacypolicy.css">
    <script defer src="/static/Home/js/privacypolicy.js"></script>
</head>
<body>
    <!-- <h1>Hello World</h1> -->
    <header>
        <nav>
            <div class="logo"> <h1>Voice Notes</h1></div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <section id="privacypolicySection">
        <div class="privacyContainer">
            <h2>Privacy Policy</h2>
            <div class="privacyWrapper">
                <p><span>Updated At: 2024 May 23</span></p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A aperiam voluptate adipisci facilis perspiciatis quis asperiores similique tempore amet tempora perferendis voluptatibus eos eveniet, et pariatur delectus animi officia earum?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi consequatur cupiditate vitae natus accusantium voluptates laborum exercitationem suscipit repellendus ducimus temporibus sequi facere, quis pariatur neque laboriosam officiis maxime explicabo iure est nobis modi praesentium atque repellat! Tempora quo quidem, vero sunt dolor inventore nisi unde quis amet doloribus id.</p>
                <p>Hic expedita velit eos cupiditate saepe. Blanditiis omnis tenetur placeat dolorem officiis voluptatem magnam nisi quos totam voluptate illo perferendis deleniti alias, optio quis sequi voluptatibus ipsum quaerat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur nihil, voluptatem eum nemo a veritatis debitis accusamus, repellat culpa molestias est animi officia perspiciatis facere sed hic alias ullam eos nisi. Dicta officia voluptates repellendus obcaecati? Incidunt, rerum debitis recusandae praesentium eius vero voluptatibus eum tempore est unde reiciendis nemo vel officiis asperiores eligendi? dolores facilis? Assumenda quibusdam quasi, consequuntur dolorum exercitationem recusandae repellat sit maxime delectus molestias expedita, aspernatur aliquid nam saepe. Alias, vel nihil?</p>
                <p>Repellat perspiciatis perferendis cum, assumenda, quo exercitationem delectus corrupti quia accusamus quis saepe animi quod? Voluptas cum dolorum aperiam est quas, quis inventore perferendis dolorem, voluptates sapiente in minus, harum repudiandae. Inventore illo praesentium aut, incidunt repellendus accusamus aperiam obcaecati modi, fuga magnam facilis architecto quae, ut eligendi quasi velit!</p>
                <p>Repellat perspiciatis perferendis cum, assumenda, quo exercitationem delectus corrupti quia accusamus quis saepe animi quod? Voluptas cum dolorum aperiam est quas, quis inventore perferendis dolorem, voluptates sapiente in minus, harum repudiandae. Inventore illo praesentium aut, incidunt repellendus accusamus aperiam obcaecati modi, fuga magnam facilis architecto quae, ut eligendi quasi velit!</p>
                <p>Repellat perspiciatis perferendis cum, assumenda, quo exercitationem delectus corrupti quia accusamus quis saepe animi quod? Voluptas cum dolorum aperiam est quas, quis inventore perferendis dolorem, voluptates sapiente in minus, harum repudiandae. Inventore illo praesentium aut, incidunt repellendus accusamus aperiam obcaecati modi, fuga magnam facilis architecto quae, ut eligendi quasi velit!</p>
                <p>Repellat perspiciatis perferendis cum, assumenda, quo exercitationem delectus corrupti quia accusamus quis saepe animi quod? Voluptas cum dolorum aperiam est quas, quis inventore perferendis dolorem, voluptates sapiente in minus, harum repudiandae. Inventore illo praesentium aut, incidunt repellendus accusamus aperiam obcaecati modi, fuga magnam facilis architecto quae, ut eligendi quasi velit!</p>
        </div>
      </section>
    </main>
    <footer>
        <p>&copy; 2024 Voice Notes</p>
    </footer>
</body>
</html>
