*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f1f29;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #f2f2f8;
}

footer{
    background-color: #1f1f29;
    color: #f2f2f8;
    text-align: center;
    padding: 10px;
}
