.NoteContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.NoteWrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}
/* Language Options  */
div.languageOption{
    display: flex;
    justify-content: center;
    gap: 10px;
}
div.languageOption select{
    padding: 10px;
    font-size: 20px;
    border: 2px solid #577B8D;
    outline: none;
    border-radius: 5px;
}
div.languageOption select option{
    padding: 10px;
    font-size: 20px;
    border: 2px solid #577B8D;
    outline: none;
    border-radius: 5px;
}
/* Notes Options  */
.NotesOptions{
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.NotesOptions button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #577B8D;
    outline: none;
    background-color: #577B8D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background 0.3s;
}
.NotesOptions button:hover{
    background: #344C64;
}
#RecordingStatus{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}

/* Notes Writing Section */
.NotesWriting{
    width: 100%;
    padding: 10px;
}
.NotesWritingContainer{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
div.status{
    font-size: 20px;
    margin: 10px 0;
}
div.status p.error{
    color: red;
}
div.status p.success{
    color: greenyellow;
}
.NoteTitle{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.NoteTitle input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.NoteBody{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.NoteBody textarea{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    min-height: 50vh;
    text-align: justify;
    text-transform:capitalize;
    line-height: 1.5;
}
.NotesWritingOptions{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.NotesWritingOptions button{
    padding: 10px;
    font-size: 20px;
    border: 2px solid #577B8D;
    outline: none;
    background-color: #577B8D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.NotesWritingOptions button:hover{
    background: #344C64;
}
/* Notes Section Ends Here */