@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #344C64;
    font-family: 'Roboto', sans-serif;
}
/* Header Section Start Here  */
header{
    padding: 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 20px 0 ;
}
header nav{
    display: flex;
    justify-content: space-between;
}
nav div.logo{
    color: #fff;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    position: relative;
    font-size: 20px;
}
nav ul li a::before{
    content: "";
    width: 0px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}
nav ul li a:hover::before{
    width: 100%;
}
/* Header Section Ends Here  */
/* Main Section Start here */
/* Privacy Policy Section Start Here  */
section#privacypolicySection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
}
.privacyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    flex-direction: column;
}
.privacyContainer h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.privacyWrapper p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.privacyWrapper p span{
    color: #f2f2f8;
    font-weight: bold;

}


/* PrivacyPolicy Section Ends Here  */
/* Main Section Ends Here */
/* Footer Section Start Here */
footer{
    background-color: #577B8D;
    color: #f2f2f8;
    text-align: center;
    padding: 10px;
}
/* Footer Section Ends Here */