<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Voice Notes</title>
    <link rel="stylesheet" href="/static/Auth/css/style.css">

</head>
<body>
    <main>
        <section class="signup">
            <div class="formContainer">
                <div class="formWrapper">
                    <h1>Sign Up</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="error">{{error}}</div>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter your username">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" name="confirm_password" id="cpassword" placeholder="Re-enter your password">
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="loginOption signupoption">
                    <p>Already have an account? <a href="/login">Log In</a></p>
            </div>
        </section>
    </main>
</body>
</html>